$content-width: 1200px;

body {
  background: url("/bg-blur-01.png");
  font-family: "Raleway", sans-serif;
  margin: 0;
  color: white;
  font-size: 16px;
}

h1 {
  text-transform: uppercase;
}

.logo {
  width: 300px;
}

nav {
  margin: 2em auto;
  max-width: 1200px;

  @media only screen and (max-width: $content-width) {
  }

  hr {
    width: 75px;
    height: 2px;
    background: white;
  }
}

.some-links {
  margin: 4em 2em;
  font-size: 24px;
  list-style: none;
  display: flex;
  text-align: center;

  @media only screen and (max-width: $content-width) {
    display: grid;
    grid-template-columns: 400px 400px;
  }

  li {
    flex: auto;

    @media only screen and (max-width: $content-width) {
      padding: 2em;
      flex: none;
    }
  }

  a {
    padding: 1em;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: ease-in-out 0.1s;
    border-radius: 5px;

    &:hover {
      background: white;
      color: black;

      @media only screen and (min-width: $content-width) {
        padding: 1em 4em;
      }
    }
  }
}

section.splash-content {
  margin: 0 40px;
  text-align: center;

  h1 {
    font-size: 62px;
  }

  @media only screen and (max-width: $content-width) {
    display: none;
  }
}

header {
  padding: 4em;
  display: flex;
  justify-content: center;
}

.video-container {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 1em;
  display: flex;
  flex: 50% auto;
}
